# Reddit API credentials (https://www.reddit.com/prefs/apps)
REDDIT_CLIENT_ID=your_client_id
REDDIT_CLIENT_SECRET=your_client_secret
REDDIT_USER_AGENT=UWSentimentAgent/1.0

# Facebook Graph API (https://developers.facebook.com/)
FACEBOOK_ACCESS_TOKEN=your_access_token

# Instagram Graph API (uses same Meta app as Facebook)
INSTAGRAM_ACCESS_TOKEN=your_access_token

# Schedule time (24h format, default midnight)
SCHEDULE_TIME=00:00
